.navStyle {
    height: 10rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;;

    .divOneStyle {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btnStyle {
            background: #ffbc0d;
            color: #000;
            cursor: pointer;
            margin: 0 3rem;
            height: 3rem;
            width: 8rem;
            border: none;
            border-radius: 3px;
            font-family: monospace, sans-serif;
            font-size: 1.5rem;

            &:hover {
                transform: scale(1.1);
                transition: 0.7s ease-in;
            }

            &:active {
                transform: scale(.99);
                transition: 0.7s ease-in-out;
            }
        }
    }

    .divTwoStyle {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .orderStyle {
            cursor: pointer;
            background: #000000;
            margin: 0 3rem;
            height: 3rem;
            width: 10rem;
            color: #ffffff;
            border: none;
            border-radius: 3px;
            font-size: 1.4rem;

            &:hover {
                transform: scale(1.1);
                transition: 0.7s ease-in;
            }

            &:active {
                transform: scale(.99);
                transition: 0.7s ease-in-out;
            }
        }
    }
}